body {
    background-image: url('clouds.jpg');
    background-repeat: no-repeat;
    background-position: left-bottom;
    background-size: 100% 100%;
    text-align: center;
}

table.centre {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1 {
    width: 100%;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-align: center;
    text-shadow: 1px 2px grey;
}

h2 {
    margin-top: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: center;
}

table {
    margin-top: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 60%;
    border-collapse: collapse;
    text-align: center;
}

th {
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    padding: 8px;
    background-color: #6BBE30;
}

td {
    font-size: 15px;
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #6BBE30;
}

tr:nth-child(even) {
    background-color: #CAEBF2;
}

.container {
    text-align: center;
    padding-top: 40px;
    font-weight: bolder;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    background-color: #6BBE30;
    color: white;
}
